html {
	box-sizing: border-box;
	font-size: $font-size-root;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
html,
body,
ul,
ol,
figure{
	margin: 0;
	padding: 0;
}
::selection {
	background: $gray200;
}
img{
	vertical-align: middle;
}
h1,
h2,
h3{
	margin: 0;
}
p {
	font-size:1em;
	margin-top: 0;
	margin-bottom: 1.5em;
}