// Intro
.intro{
	position: fixed;
	top: 0;
	height:80vh;
	width: 100%;
	z-index: -1;
	.intro-copy{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
	h1{
		width: 50%;
		font-size: 2rem;
		font-size: calc(2rem + 1vw);
		line-height: 1.4;
		font-weight: 400;
	}
	@include breakpoint(phone){
		text-align: center;
		h1{
			width: 100%;
		}
	}
	.arrow{
		bottom: 2.5rem;
		&:hover{
			bottom: 2rem;
		}
	}
}

.pacmen{
	list-style-type: none;
	margin: 0 0 1rem;
	padding: 0;
	li{
		width: 0;
		height: 0;
		border-right: .8rem solid transparent;
		border-top: .8rem solid $gray700;
		border-left: .8rem solid $gray700;
		border-bottom: .8rem solid $gray700;
		border-radius: .8rem;
		display: inline-block;
		position: relative;
	}
}



// Projects
.projects{
	margin-top: 80vh;
	@extend %text-center;
	background-color: $gray200;
	.projects-stage{
		max-width: 96rem;
		margin: 0 auto;
		@include clearfix();
		img{
			max-width: 100%;
			height: auto;
		}
	}
}
.project-tmb-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #223;
	opacity: 0;
	transition: all .3s ease-in;
}
a.project-preview{
	position: relative;
	display: block;
	line-height: 0;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	@include breakpoint(tablet){
		width: 50%;
		float: left;
	}
	@each $project in hj, bos, fp, savry {
		&.#{$project}{
			.project-tmb-overlay{
				background-color: map-get($project-colors, $project);
			}
		}
	}
	&:hover{
		.project-tmb-overlay{
			opacity: .7;
		}
		.project-caption{
			top: 50%;
			opacity: 1;
			h2{
				&:after{
					transform: scaleX(1);
				}
			}
		}
	}
	@include breakpoint(phone){
		.project-tmb-overlay{
			opacity: .7;
		}
		.project-caption{
			top: 50%;
			opacity: 1;
		}
	}
}

.project-caption{
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	line-height: 1;
	width: 100%;
	opacity: 0;
	transition: all 0.4s ease-out;
	font-weight: 300;
	color: $gray50;
	h2{
		position: relative;
		font-size: 2rem;
		padding-bottom: 1.25rem;
		text-transform: uppercase;
		letter-spacing: rem(2);
		&:after{
			@include pseudo-box($gray400);
			height: 1px;
			width: rem(60);
			bottom: 0;
			left: 50%;
			margin-left: rem(-30);
			transform-origin: 50% 0;
			transform: scaleX(.3);
			transition: .7s;
		}
	}
	p{
		margin: 0;
		padding-top: 1.5rem;
	}
}



// Info
.info{
	padding-top: 8rem;
	@include clearfix();
	@include breakpoint(phone){
		display: none;
	}
}

.info-block{
	@extend %text-center;
	position: relative;
	width: 33.333%;
	float: left;
	opacity: 0;
	transition: all 0.5s ease-out;
	&:nth-child(odd){
		transform: translateY(-2rem);
	}
	&:nth-child(even){
		transform: translateY(2rem);
	}
	&.visible{
		transform: none;
		opacity: 1;
	}
	h2{
		font-size: 2rem;
		color: $gray600;
		font-weight: 400;
	}
	ul{
		@extend %list-reset;
		li{
			font-size: rem(20);
			color: $gray500;
			font-weight: 300;
		}
	}
}



// Contact
.contact{
	@extend %text-center;
}

a.button-slide{
	position: relative;
	display: inline-block;
	outline: none;
	color: $gray100;
	background-color: $gray700;
	letter-spacing: .15rem;
	font-weight: 300;
	font-size: 1.5em;
	height: 5rem;
	line-height: 5rem;
	min-width: 22rem;
	overflow: hidden;
	transition: 0.3s;
	span{
		display: inline-block;
		width: 100%;
		height: 100%;
		transition: inherit;
	}
	&:before{
		position: absolute;
		left: 0;
		top: 100%;
		height: 100%;
		width: 100%;
		transition: inherit;
		content: attr(data-hover);
		color: #45a;
	}
	&:hover,
	&:focus{
		background-color: $gray200;
		span{
			transform: translateY(-100%);
		}
		&:before{
			top: 0;
		}
	}
}



 // Footer
footer{
	@extend %text-center;
	padding: 6rem 0 3rem;
	ul{
		@extend %list-reset;
		transition: 1s;
		li{
			display: inline-block;
			padding: 0 1rem;
			margin-right: -.375em;
			position: relative;
			&:before{
				@include pseudo-box($gray300);
				left: 0;
				top: 50%;
				line-height: 0;
				width: 1px;
				height: rem(12);
				margin-top: rem(-6);
			}
			&:first-child{
				&:before{
					display: none;
				}
			}
			a{
				letter-spacing: rem(1);
				cursor: pointer;
				&:after{
					@include pseudo-box(transparent);
					bottom: -3px;
					left: 0;
					width: 100%;
					height: 1px;
					transform-origin: 50% 0;
					transform: scaleX(.6);
					transition: .3s;
				}
				&:hover{
					&:after{
						background-color: $gray400;
						transform: scaleX(1);
					}
				}
			}
		}
	}
}