/* Preloader */

#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	z-index: 600;
}
.loader{
	@extend %text-center;
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
}

// Pacman
$size: 2rem;
$ball-size: .5rem;
$bg: $gray500;

@keyframes rotate_pacman_half_up  {
	0% {
		transform:rotate(270deg);
	}
	50% {
		transform:rotate(360deg);
	}
	100% {
		transform:rotate(270deg);
	}
}

@keyframes rotate_pacman_half_down  {
	0% {
		transform:rotate(90deg);
	}
	50% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(90deg);
	}
}

@mixin pacman_design(){
	width: 0px;
	height: 0px;
	border-right: $size solid transparent;
	border-top: $size solid $bg;
	border-left: $size solid $bg;
	border-bottom: $size solid $bg;
	border-radius: $size;
}

@mixin balls() {
	width: $ball-size;
	height: $ball-size;
	border-radius: 100%;
	margin: 4px;
	background-color: $bg;
}

@keyframes pacman-ball {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-2 * $size);
	}
}

.pacman {
	position: relative;
	left: 50%;
	> div:first-of-type {
		@include pacman_design();
		animation: rotate_pacman_half_up 1s 0s infinite;
		position: relative;
		left: -30px;
	}

	> div:nth-child(2) {
		@include pacman_design();
		animation: rotate_pacman_half_down 1s 0s infinite;
		margin-top: -2 * $size;
		position: relative;
		left: -30px;
	}

	> div:nth-child(3){
		@include balls();
		position: absolute;
		animation: pacman-ball 1s 0s infinite linear;
		top: 1.5rem;
		left: 3.5rem;
	}
}
