// COLORS

// Material Gray
$gray50: #fafafa;
$gray100:#f5f5f5;
$gray200:#eeeeee;
$gray300:#e0e0e0;
$gray400:#bdbdbd;
$gray500:#9e9e9e;
$gray600:#757575;
$gray700:#616161;
$gray800:#424242;
$gray900:#212121;
$white: #ffffff;

$project-colors: (
	hj: #1c3330,
	bos: #280f0a,
	fp: #223,
	savry: #33261c
);

 // Other
$font-size-root: 16px;


